<a id='index'></a>

# More Data Proccesing with Pandas

## Índice

[Merging DataFrames](#merging)

1. [merge](#c-merge)
    - [how=](#c-how)
    - On
        - [Single Column](#c-on-single-col)
        - [Multiple Column](#c-on-mul-col)
1. [concat](#c-concat)

---

[Pandas Idioms](#idioms)

1. [Pandorable (Pythonic)](#c-pythonic)
1. [apply](#c-apply)

---

[Group By](#group)

- Splitting
    - [groupby](#c-groupby)

- Aggregation
    - [agg](#c-agg)

- Transformation
    - [transform](#c-transform)

- Filtering
    - [filter](#c-filter)

---

1. [](#c-)
1. [](#c-)
1. [](#c-)

<a id='merging'></a>

[Índice](#index)

## Merging DataFrames

---

In [1]:
import pandas as pd

In [2]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df.set_index('Name', inplace=True)

student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df.set_index('Name', inplace=True)
print(staff_df)
print(student_df)

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

<a id='c-merge'></a>

[Índice](#index)

### `merge`

<a id='c-how'></a>

[Índice](#index)

#### `how=`

- outer
- inner
- left
- right

In [3]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [4]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [5]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [6]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [7]:
staff_df.reset_index(), student_df.reset_index()

(    Name            Role
 0  Kelly  Director of HR
 1  Sally  Course liasion
 2  James          Grader,
     Name       School
 0  James     Business
 1   Mike          Law
 2  Sally  Engineering)

<a id='c-on-single-col'></a>

[Índice](#index)

#### `on=` Single Column

In [8]:
pd.merge(staff_df, student_df, how='right', on='Name')

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [9]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR','Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 'Location': 'Washington Avenue'}])

student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 'Location': '512 Wilson Crescent'}])

In [10]:
pd.merge(staff_df, student_df, how='left', on='Name')

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [11]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name' : 'Desjardins',
                          'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name' : 'Brooks',
                          'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name' : 'Wilde',
                          'Role': 'Grader'}])

student_df = pd.DataFrame([{'First Name': 'James', 'Last Name' : 'Hammond',
                            'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name' : 'Smith',
                            'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name' : 'Brooks',
                            'School': 'Engineering'}])

<a id='c-on-mul-col'></a>

[Índice](#index)

#### `on=` Multiple Columns

In [12]:
pd.merge(staff_df, student_df, how='inner', on=['First Name', 'Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

In [13]:
%%capture

# to let ignore the bad lines on the csv, and supress the warning messages
df_2011 = pd.read_csv('datasets/MERGED2011_12_PP.csv', error_bad_lines=False)
df_2012 = pd.read_csv('datasets/MERGED2012_13_PP.csv', error_bad_lines=False)
df_2013 = pd.read_csv('datasets/MERGED2012_13_PP.csv', error_bad_lines=False)

In [14]:
df_2011.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
0,100654.0,100200.0,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100663.0,105200.0,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100690.0,2503400.0,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100706.0,105500.0,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100724.0,100500.0,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_2011.info(), df_2012.info(), df_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15235 entries, 0 to 15234
Columns: 1977 entries, UNITID to OMENRUP_PARTTIME_POOLED_SUPP
dtypes: float64(197), object(1780)
memory usage: 229.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7793 entries, 0 to 7792
Columns: 1977 entries, UNITID to OMENRUP_PARTTIME_POOLED_SUPP
dtypes: float64(743), int64(11), object(1223)
memory usage: 117.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7793 entries, 0 to 7792
Columns: 1977 entries, UNITID to OMENRUP_PARTTIME_POOLED_SUPP
dtypes: float64(743), int64(11), object(1223)
memory usage: 117.5+ MB

(None, None, None)

In [16]:
len(df_2011), len(df_2012), len(df_2013)

(15235, 7793, 7793)

<a id='c-concat'></a>

[Índice](#index)

### `concat`

In [17]:
frames = [df_2011, df_2012, df_2013]
pd.concat(frames).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30821 entries, 0 to 7792
Columns: 1977 entries, UNITID to OMENRUP_PARTTIME_POOLED_SUPP
dtypes: float64(197), object(1780)
memory usage: 465.1+ MB

In [18]:
rows = 0
for i in frames:
    rows += len(i)
rows

30821

In [19]:
pd.concat(frames, keys=['2011', '2012', '2013'])

               UNITID       OPEID OPEID6  \
2011 0       100654.0    100200.0   1002
     1       100663.0    105200.0   1052
     2       100690.0   2503400.0  25034
     3       100706.0    105500.0   1055
     4       100724.0    100500.0   1005
...               ...         ...    ...
2013 7788  47691101.0   4205801.0  42058
     7789  47701101.0  10145905.0   1459
     7790  47702001.0  10145903.0   1459
     7791  47702002.0  10145902.0   1459
     7792  47702003.0  10145906.0   1459

                                              INSTNM           CITY STABBR  \
2011 0                      Alabama A & M University         Normal     AL
     1           University of Alabama at Birmingham     Birmingham     AL
     2                            Amridge University     Montgomery     AL
     3           University of Alabama in Huntsville     Huntsville     AL
     4                      Alabama State University     Montgomery     AL
...                                              ...            ...    ...
2013 7788  SAE Institute of Technology San Francisco     Emeryville     CA
     7789      Strayer University-Bloomington Campus    Bloomington     MN
     7790       Strayer University-Schaumburg Campus     Schaumburg     IL
     7791    Strayer University-Downers Grove Campus  Downers Grove     IL
     7792           Strayer University-Aurora Campus         Aurora     IL

                  ZIP  ACCREDAGENCY INSTURL NPCURL  ...  \
2011 0          35762           NaN     NaN    NaN  ...
     1     35294-0110           NaN     NaN    NaN  ...
     2     36117-3553           NaN     NaN    NaN  ...
     3          35899           NaN     NaN    NaN  ...
     4     36104-0271           NaN     NaN    NaN  ...
...               ...           ...     ...    ...  ...
2013 7788       94608           NaN     NaN    NaN  ...
     7789   554311411           NaN     NaN    NaN  ...
     7790   601735081           NaN     NaN    NaN  ...
     7791   605151169           NaN     NaN    NaN  ...
     7792   605066220           NaN     NaN    NaN  ...

          OMAWDP8_NOTFIRSTTIME_POOLED_SUPP OMENRUP_NOTFIRSTTIME_POOLED_SUPP  \
2011 0                                 NaN                              NaN
     1                                 NaN                              NaN
     2                                 NaN                              NaN
     3                                 NaN                              NaN
     4                                 NaN                              NaN
...                                    ...                              ...
2013 7788                              NaN                              NaN
     7789                              NaN                              NaN
     7790                              NaN                              NaN
     7791                              NaN                              NaN
     7792                              NaN                              NaN

          OMENRYP_FULLTIME_POOLED_SUPP OMENRAP_FULLTIME_POOLED_SUPP  \
2011 0                             NaN                          NaN
     1                             NaN                          NaN
     2                             NaN                          NaN
     3                             NaN                          NaN
     4                             NaN                          NaN
...                                ...                          ...
2013 7788                          NaN                          NaN
     7789                          NaN                          NaN
     7790                          NaN                          NaN
     7791                          NaN                          NaN
     7792                          NaN                          NaN

          OMAWDP8_FULLTIME_POOLED_SUPP OMENRUP_FULLTIME_POOLED_SUPP  \
2011 0                             NaN                          NaN
     1                             NaN                          NaN
     2                             NaN                          NaN
     3                             NaN                          NaN
     4                             NaN                          NaN
...                                ...                          ...
2013 7788                          NaN                          NaN
     7789                          NaN                          NaN
     7790                          NaN                          NaN
     7791                          NaN                          NaN
     7792                          NaN                          NaN

          OMENRYP_PARTTIME_POOLED_SUPP OMENRAP_PARTTIME_POOLED_SUPP  \
2011 0                             NaN                          NaN
     1                             NaN                          NaN
     2                             NaN                          NaN
     3                             NaN                          NaN
     4                             NaN                          NaN
...                                ...                          ...
2013 7788                          NaN                          NaN
     7789                          NaN                          NaN
     7790                          NaN                          NaN
     7791                          NaN                          NaN
     7792                          NaN                          NaN

          OMAWDP8_PARTTIME_POOLED_SUPP OMENRUP_PARTTIME_POOLED_SUPP
2011 0                             NaN                          NaN
     1                             NaN                          NaN
     2                             NaN                          NaN
     3                             NaN                          NaN
     4                             NaN                          NaN
...                                ...                          ...
2013 7788                          NaN                          NaN
     7789                          NaN                          NaN
     7790                          NaN                          NaN
     7791                          NaN                          NaN
     7792                          NaN                          NaN

[30821 rows x 1977 columns]

<a id='idioms'></a>

[Índice](#index)

## Pandas Idioms

Pandorable

---

In [20]:
import pandas as pd
import numpy as np

import timeit

In [21]:
df = pd.read_csv('datasets/census.csv')
df.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594

<a id='c-pythonic'></a>

[Índice](#index)

### `pythonic or pandorable`

In [22]:
# (df.where(df['SUMLEV'] == 50))

(df[df['SUMLEV'] == 50]
 .set_index(['STNAME', 'CTYNAME'])
 .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})).head(1)

,,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,Estimates Base 2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,CTYNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,Autauga County,50,3,6,1,1,54571,54571,54660,55253,55175,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.59227,-2.187333

In [23]:
df = df[df['SUMLEV'] == 50]
df.set_index(['STNAME', 'CTYNAME'], inplace=True)
df.rename(columns={'ESTIMATESBASE2010': 'Estimate Base 2010'}).head(1)

,,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,Estimate Base 2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,CTYNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,Autauga County,50,3,6,1,1,54571,54571,54660,55253,55175,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.59227,-2.187333

In [24]:
def first_approach():
    global df
    return (df[df['SUMLEV'] == 50]
            .set_index(['STNAME', 'CTYNAME'])
            .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}))
    
df = pd.read_csv('datasets/census.csv')

timeit.timeit(first_approach, number=10)

0.08822220000001835

In [25]:
def second_approach():
    global df
    new_df = df[df['SUMLEV'] == 50]
    new_df.set_index(['STNAME', 'CTYNAME'], inplace=True)
    return new_df.rename(columns={'ESTIMATESBASE2010': 'Estimate Base 2010'}).head(1)
    
df = pd.read_csv('datasets/census.csv')

timeit.timeit(second_approach, number=10)

0.0901053999987198

<a id='c-apply'></a>

[Índice](#index)

### `apply`

In [26]:
df = pd.read_csv('datasets/census.csv')
df.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594

In [27]:
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

df.apply(min_max, axis='columns').head(1)

       min      max
0  4785161  4858979

In [28]:
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    row['min'] = np.min(data)
    row['max'] = np.max(data)
    
    return row

df.apply(min_max, axis='columns').head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,min,max
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594,4785161,4858979

In [29]:
rows = ['POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015']

#df.apply(lambda x: np.max(x[rows]), axis=1).head()
df.apply(lambda x: np.max(x[rows]), axis='columns').head()

0    4858979
1      55347
2     203709
3      27341
4      22861
dtype: int64

In [30]:
def get_state_region(x):
    northeast = ['Connecticut', 'Maine', 'Massachusetts']
    midwest = ['Illinois', 'Indiana', 'New York']
    south = ['Delaware', 'Florida', 'Georgia']
    west = ['Arizona', 'colorado', 'Idaho']
    
    if x in northeast:
        return 'Northeast'
    elif x in midwest:
        return 'Midwest'
    elif x in south:
        return 'South'
    else:
        return 'West'

df['state_region'] = df['STNAME'].apply(lambda x: get_state_region(x))

df[['STNAME', 'state_region']].head(1)

    STNAME state_region
0  Alabama         West

<a id='group'></a>

[Índice](#index)

## Group by

---

In [2]:
import pandas as pd
import numpy as np

### Splitting

In [3]:
df = pd.read_csv('datasets/census.csv')

In [5]:
df = df[df['SUMLEV'] == 50]
df.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.59227,-2.187333

#### Different forms of grouping

In [17]:
%%timeit -n 3

for state in df['STNAME'].unique():
    avg = np.average(df[df['STNAME'] == state]['CENSUS2010POP'])
    
    #print(f'{state} with an average population of {avg} ')

55.6 ms ± 22.3 ms per loop (mean ± std. dev. of 7 runs, 3 loops each)

In [18]:
%%timeit -n 3
for group, frame in df.groupby('STNAME'):
    avg = np.average(frame['CENSUS2010POP'])
    
    #print(group)
    #print(f'{group} with an average population of {avg} ')

13.6 ms ± 1.63 ms per loop (mean ± std. dev. of 7 runs, 3 loops each)

<a id='c-groupby'></a>

[Índice](#index)

#### `groupby`

In [12]:
%%timeit -n 3
df.groupby('STNAME')['CENSUS2010POP'].mean()

2.37 ms ± 574 µs per loop (mean ± std. dev. of 7 runs, 3 loops each)

In [19]:
df = df.set_index('STNAME')

def set_batch_number(item):
    if item[0] < 'M':
        return 0
    elif item[0] < 'Q':
        return 1
    else:
        return 2
    
for group, frame in df.groupby(set_batch_number):
    print(f'There are {len(frame)} in group {group}')

There are 1177 in group 0
There are 1134 in group 1
There are 831 in group 2

In [31]:
df = pd.read_csv('datasets/listings.csv')
df.set_index(['cancellation_policy', 'review_scores_value'], inplace=True)
df.head(1)

,,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_communication,review_scores_location,requires_license,license,jurisdiction_names,instant_bookable,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
cancellation_policy,review_scores_value,,,,,,,,,,,,,,,,,,,,,
moderate,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,NaN,f,NaN,NaN,f,f,f,1,NaN

#### Group by indexes

In [25]:
for group, frame in df.groupby(level=(0, 1)):
    print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

#### Group by Function

In [26]:
def grouping_fun(item):
    if item[1] == 10.0:
        return (item[0], '10.0')
    else:
        return (item[0], 'not 10.0')
    
for group, frame in df.groupby(grouping_fun):
    print(group)

('flexible', '10.0')
('flexible', 'not 10.0')
('moderate', '10.0')
('moderate', 'not 10.0')
('strict', '10.0')
('strict', 'not 10.0')
('super_strict_30', '10.0')
('super_strict_30', 'not 10.0')

### Aggregation

In [63]:
df = pd.read_csv('datasets/listings.csv')
df.head(1)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN

In [64]:
df.groupby('cancellation_policy')['review_scores_value'].mean()

cancellation_policy
flexible           9.237421
moderate           9.307398
strict             9.081441
super_strict_30    8.537313
Name: review_scores_value, dtype: float64

<a id='c-agg'></a>

[Índice](#index)

#### `agg`

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html

In [65]:
df.groupby('cancellation_policy').agg({'review_scores_value': ['mean', 'std'],
                                       'reviews_per_month': ['mean']})

                    review_scores_value           reviews_per_month
                                   mean       std              mean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

In [66]:
df.groupby('cancellation_policy').agg(review_mean = ('review_scores_value', 'mean'), 
                                      review_std = ('review_scores_value', 'std'),
                                      review_pero_monthy = ('reviews_per_month', 'mean'))

                     review_mean  review_std  review_pero_monthy
cancellation_policy
flexible                9.237421    1.096271            1.829210
moderate                9.307398    0.859859            2.391922
strict                  9.081441    1.040531            1.873467
super_strict_30         8.537313    0.840785            0.340143

### Transformation

In [90]:
df = pd.read_csv('datasets/listings.csv')
df.head(1)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN

<a id='c-transform'></a>

[Índice](#index)

#### `transform`

In [91]:
cols = ['cancellation_policy', 'review_scores_value']

transform_df = df[cols].groupby('cancellation_policy').transform('mean')
transform_df.rename({'review_scores_value': 'mean_review_scores'}, axis='columns', inplace=True)

transform_df.head()

   mean_review_scores
0            9.307398
1            9.307398
2            9.307398
3            9.307398
4            9.237421

In [92]:
#df = df.merge(transform_df, how='inner', left_index=True, right_index=True)
df = pd.merge(df, transform_df, how='inner', left_index=True, right_index=True)
df.head(1)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,f,NaN,NaN,f,moderate,f,f,1,NaN,9.307398

In [94]:
df['mean_diff'] = np.abs(df['review_scores_value'] - df['mean_review_scores'])
df[['mean_diff']].head()

   mean_diff
0        NaN
1   0.307398
2   0.692602
3   0.692602
4   0.762579

### Filtering

In [111]:
df = pd.read_csv('datasets/listings.csv')
df.head(1)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN

<a id='c-filter'></a>

[Índice](#index)

#### `filter`

In [112]:
(df.groupby('cancellation_policy')
 .filter(lambda x: np.nanmean(x['review_scores_value']) > 9.2)).tail(2)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
3582,14585486,https://www.airbnb.com/rooms/14585486,20160906204935,2016-09-07,Gorgeous funky apartment,Funky little apartment close to public transpo...,Modern and relaxed space with many facilities ...,Funky little apartment close to public transpo...,none,"Cambridge is a short walk into Boston, and set...",...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN
3584,14504422,https://www.airbnb.com/rooms/14504422,20160906204935,2016-09-07,(K1) Private Room near Harvard/MIT,My place is close to My home is a warm and fri...,To ensure a smooth check in: 1. You MUST have ...,My place is close to My home is a warm and fri...,none,NaN,...,NaN,f,NaN,NaN,t,flexible,f,f,3,NaN

### Applying