In [1]:
import pandas as pd
import numpy as np

In [2]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df.set_index('Name', inplace=True)

student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df.set_index('Name', inplace=True)
print(staff_df)
print(student_df)

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [3]:
pd.merge(student_df, staff_df, how='left', left_index=True, right_index=True)

            School            Role
Name
James     Business          Grader
Mike           Law             NaN
Sally  Engineering  Course liasion

In [8]:

staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name' : 'Desjardins',
                          'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name' : 'Brooks',
                          'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name' : 'Wilde',
                          'Role': 'Grader'}])

student_df = pd.DataFrame([{'First Name': 'James', 'Last Name' : 'Hammond',
                            'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name' : 'Smith',
                            'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name' : 'Brooks',
                            'School': 'Engineering'}])

In [10]:
result_df = pd.merge(staff_df, student_df, how='right', on=['First Name', 'Last Name'])
result_df

  First Name Last Name            Role       School
0      James   Hammond             NaN     Business
1       Mike     Smith             NaN          Law
2      Sally    Brooks  Course liasion  Engineering

In [6]:
(pd.Timestamp('8/4/2022') + pd.offsets.MonthEnd()).weekday()

Timestamp('2022-08-31 00:00:00')

In [11]:
pd.Period('01/12/2019', 'M') + 5

Period('2019-06', 'M')

In [14]:
inde = ['apple', 'mango', 'potato', 'onion', 'broccoli']
clase = ['fruit', 'fruit', 'vegetable', 'vegetable', 'vegetable']
calories = [95.0, 202.0, 164.0, np.nan, 207.0]

In [18]:
df = pd.DataFrame({'class': clase, 'avg': calories}, index=inde)
df

              class    avg
apple         fruit   95.0
mango         fruit  202.0
potato    vegetable  164.0
onion     vegetable    NaN
broccoli  vegetable  207.0

In [21]:
grouped = df.groupby(['class', 'avg'])
grouped

In [22]:


df.groupby('class')

In [23]:


df.groupby('class', axis = 0)

In [24]:


df.groupby('vegetable')

KeyError: 'vegetable'