## Basic Statistical Testing

In [3]:
import numpy as np
import pandas as pd

from scipy import stats

In [4]:
df = pd.read_csv('datasets/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [7]:
df.info(), df.shape[0], df.shape[1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2315 entries, 0 to 2314
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              2315 non-null   object
 1   assignment1_grade       2315 non-null   float64
 2   assignment1_submission  2315 non-null   object
 3   assignment2_grade       2315 non-null   float64
 4   assignment2_submission  2315 non-null   object
 5   assignment3_grade       2315 non-null   float64
 6   assignment3_submission  2315 non-null   object
 7   assignment4_grade       2315 non-null   float64
 8   assignment4_submission  2315 non-null   object
 9   assignment5_grade       2315 non-null   float64
 10  assignment5_submission  2315 non-null   object
 11  assignment6_grade       2315 non-null   float64
 12  assignment6_submission  2315 non-null   object
dtypes: float64(6), object(7)
memory usage: 235.2+ KB

(None, 2315, 13)

In [10]:
early_finishers = df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head(1)

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000

In [13]:
late_finishers = df[~df.index.isin(early_finishers.index)]
late_finishers.head(1)

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000

In [14]:
early_finishers['assignment1_grade'].mean(), late_finishers['assignment1_grade'].mean()

(74.94728457024304, 74.0450648477065)

In [15]:
from scipy.stats import ttest_ind
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.3223540853721598, pvalue=0.18618101101713855)

In [16]:
print(ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade']))
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.3223540853721598, pvalue=0.18618101101713855)
Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [31]:
df1 = pd.DataFrame([np.random.random(100) for x in range(100)])
df2 = pd.DataFrame([np.random.random(100) for x in range(100)])

In [32]:
def test_columns(alpha = 0.1):
    num_diff = 0
    for col in df1.columns:
        teststat, pval = ttest_ind(df1[col], df2[col])
        if pval <= alpha:
            print(f'Col {col} is statistically significantly different at alpha={alpha}, pval={pval} ')
            num_diff += 1
    print(f'Total number different was {num_diff}, which is {num_diff/len(df1.columns)*100}%')
test_columns(0.05)

Col 14 is statistically significantly different at alpha=0.05, pval=0.03744428977557884
Col 22 is statistically significantly different at alpha=0.05, pval=0.041514164598939154
Col 43 is statistically significantly different at alpha=0.05, pval=0.0378356913257954
Col 95 is statistically significantly different at alpha=0.05, pval=0.04818378945418674
Total number different was 4, which is 4.0%

In [33]:
df2 = pd.DataFrame([np.random.chisquare(df=1, size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.00032629043359619944
Col 1 is statistically significantly different at alpha=0.1, pval=0.00025680597951921
Col 2 is statistically significantly different at alpha=0.1, pval=5.781126945771541e-07
Col 3 is statistically significantly different at alpha=0.1, pval=0.0032812039129101528
Col 4 is statistically significantly different at alpha=0.1, pval=2.0758247157168013e-05
Col 5 is statistically significantly different at alpha=0.1, pval=0.0002448455616441983
Col 6 is statistically significantly different at alpha=0.1, pval=0.0020675071079822908
Col 7 is statistically significantly different at alpha=0.1, pval=0.00011261727855536063
Col 8 is statistically significantly different at alpha=0.1, pval=0.023132755404553396
Col 9 is statistically significantly different at alpha=0.1, pval=0.0001938477361055716
Col 10 is statistically significantly different at alpha=0.1, pval=0.00046828582589354516
Col 11 is statistically significantly different at alpha=0.1, pval=0.00014950835965760453
Col 12 is statistically significantly different at alpha=0.1, pval=7.196006696087446e-05
Col 13 is statistically significantly different at alpha=0.1, pval=0.0003043648833035228
Col 14 is statistically significantly different at alpha=0.1, pval=0.00018373944197405722
Col 15 is statistically significantly different at alpha=0.1, pval=1.688483998614443e-05
Col 16 is statistically significantly different at alpha=0.1, pval=0.0001528402574098625
Col 17 is statistically significantly different at alpha=0.1, pval=0.0012964773467206358
Col 18 is statistically significantly different at alpha=0.1, pval=0.00041009318851004513
Col 19 is statistically significantly different at alpha=0.1, pval=0.0016042422284705793
Col 20 is statistically significantly different at alpha=0.1, pval=0.0016027473665564762
Col 21 is statistically significantly different at alpha=0.1, pval=1.258340997338616e-05
Col 22 is statistically significantly different at alpha=0.1, pval=0.0019209561272056665
Col 23 is statistically significantly different at alpha=0.1, pval=0.0009392686818488783
Col 24 is statistically significantly different at alpha=0.1, pval=0.0023088845419017515
Col 25 is statistically significantly different at alpha=0.1, pval=0.01916065433925843
Col 26 is statistically significantly different at alpha=0.1, pval=0.00910698420802838
Col 27 is statistically significantly different at alpha=0.1, pval=8.43390978660411e-05
Col 28 is statistically significantly different at alpha=0.1, pval=4.9065399298526086e-05
Col 29 is statistically significantly different at alpha=0.1, pval=0.0031133371168984873
Col 30 is statistically significantly different at alpha=0.1, pval=2.8823425262377086e-05
Col 31 is statistically significantly different at alpha=0.1, pval=5.2568913487952555e-06
Col 32 is statistically significantly different at alpha=0.1, pval=0.0004502930773015974
Col 33 is statistically significantly different at alpha=0.1, pval=0.015482559669877148
Col 34 is statistically significantly different at alpha=0.1, pval=0.006642464014110997
Col 35 is statistically significantly different at alpha=0.1, pval=4.967314090001588e-05
Col 36 is statistically significantly different at alpha=0.1, pval=0.0008785909593445381
Col 37 is statistically significantly different at alpha=0.1, pval=1.543377485414566e-05
Col 38 is statistically significantly different at alpha=0.1, pval=0.00029420658772076684
Col 39 is statistically significantly different at alpha=0.1, pval=0.0001761780158892848
Col 40 is statistically significantly different at alpha=0.1, pval=0.01409315860782388
Col 41 is statistically significantly different at alpha=0.1, pval=0.0005246013588924808
Col 42 is statistically significantly different at alpha=0.1, pval=5.508110826389426e-05
Col 43 is statistically significantly different at alpha=0.1, pval=0.0009088783793214405
Col 44 is statistically significantly different at alpha=0.1, pval=0.0013699618360428199
Col 45 is statistically significantly different at alpha=0.1, pval=0.000128890527048563
Col 46 is statistically significantly different at alpha=0.1, pval=0.016175776064256568
Col 47 is statistically significantly different at alpha=0.1, pval=7.80446096119744e-05
Col 48 is statistically significantly different at alpha=0.1, pval=0.00035768606656246633
Col 49 is statistically significantly different at alpha=0.1, pval=0.0013381517733211843
Col 50 is statistically significantly different at alpha=0.1, pval=0.0006797378381300064
Col 51 is statistically significantly different at alpha=0.1, pval=0.0001283254259207739
Col 52 is statistically significantly different at alpha=0.1, pval=0.0001948516186133878
Col 53 is statistically significantly different at alpha=0.1, pval=0.0005085469180462576
Col 54 is statistically significantly different at alpha=0.1, pval=0.006349860508179457
Col 55 is statistically significantly different at alpha=0.1, pval=0.003951622491229541
Col 56 is statistically significantly different at alpha=0.1, pval=0.0022791452373148997
Col 57 is statistically significantly different at alpha=0.1, pval=0.005270400412905585
Col 58 is statistically significantly different at alpha=0.1, pval=0.00033226385575399876
Col 59 is statistically significantly different at alpha=0.1, pval=0.0002788971470037117
Col 60 is statistically significantly different at alpha=0.1, pval=8.883669220808136e-05
Col 61 is statistically significantly different at alpha=0.1, pval=0.001679913823385304
Col 62 is statistically significantly different at alpha=0.1, pval=0.0006817626579703398
Col 63 is statistically significantly different at alpha=0.1, pval=0.007539357023979859
Col 64 is statistically significantly different at alpha=0.1, pval=7.699226304363194e-06
Col 65 is statistically significantly different at alpha=0.1, pval=0.00014999603229780007
Col 66 is statistically significantly different at alpha=0.1, pval=0.0009251717541772506
Col 67 is statistically significantly different at alpha=0.1, pval=0.0004099576606483249
Col 68 is statistically significantly different at alpha=0.1, pval=4.32529755758406e-05
Col 69 is statistically significantly different at alpha=0.1, pval=0.0015322649705967531
Col 70 is statistically significantly different at alpha=0.1, pval=7.127454351609503e-05
Col 71 is statistically significantly different at alpha=0.1, pval=0.006742272175705395
Col 72 is statistically significantly different at alpha=0.1, pval=8.650267797155182e-05
Col 73 is statistically significantly different at alpha=0.1, pval=0.050939098707523923
Col 74 is statistically significantly different at alpha=0.1, pval=0.0015562414915797362
Col 75 is statistically significantly different at alpha=0.1, pval=0.0001946336004955143
Col 76 is statistically significantly different at alpha=0.1, pval=0.00014951785014653983
Col 77 is statistically significantly different at alpha=0.1, pval=0.00028232442530777796
Col 78 is statistically significantly different at alpha=0.1, pval=0.00010577384161702894
Col 79 is statistically significantly different at alpha=0.1, pval=4.6448510299250027e-05
Col 80 is statistically significantly different at alpha=0.1, pval=0.02184830928799962
Col 81 is statistically significantly different at alpha=0.1, pval=0.001304803738603952
Col 82 is statistically significantly different at alpha=0.1, pval=0.00022873255426831342
Col 83 is statistically significantly different at alpha=0.1, pval=0.006441545489008153
Col 84 is statistically significantly different at alpha=0.1, pval=2.7818692077679638e-08
Col 85 is statistically significantly different at alpha=0.1, pval=0.0009372507529070305
Col 86 is statistically significantly different at alpha=0.1, pval=0.0003983360678726443
Col 87 is statistically significantly different at alpha=0.1, pval=0.0009374235493561488
Col 88 is statistically significantly different at alpha=0.1, pval=0.00033403604777200316
Col 89 is statistically significantly different at alpha=0.1, pval=0.00013184366425125272
Col 90 is statistically significantly different at alpha=0.1, pval=0.0059293431114328535
Col 91 is statistically significantly different at alpha=0.1, pval=0.03554474470259218
Col 92 is statistically significantly different at alpha=0.1, pval=0.0013325126114524294
Col 93 is statistically significantly different at alpha=0.1, pval=8.117542067834369e-05
Col 94 is statistically significantly different at alpha=0.1, pval=0.001441621259220446
Col 95 is statistically significantly different at alpha=0.1, pval=0.005978729763276788
Col 96 is statistically significantly different at alpha=0.1, pval=4.241538353767012e-05
Col 97 is statistically significantly different at alpha=0.1, pval=0.00038046436979668986
Col 98 is statistically significantly different at alpha=0.1, pval=0.046557875698488904
Col 99 is statistically significantly different at alpha=0.1, pval=0.00038848218702010665
Total number different was 100, which is 100.0%